# Auto detect text files and perform LF normalization
* text=auto
*.css linguist-detectable=false
*.js linguist-detectable=false
*.java linguist-detectable=false
*.c linguist-detectable=true
*.scss linguist-detectable=false
*.html linguist-detectable=false
