@{
    Layout = null;
}
<!doctype html>
<html lang="tr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/zfonts/icomoon/style.css">

    <link rel="stylesheet" href="/zcss/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/zcss/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/zcss/style.css">

    <title>Login #2</title>
  </head>
  <body>
  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/zimages/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Giriş Yapın <strong>MyEcommerce</strong></h3>
            <p class="mb-4 text-danger"><b>@TempData["hata"]</b></p>
            <form  method="post">
              <div class="form-group first">
                <label for="username">Kullanıcı adı</label>
                <input type="text" class="form-control" name="name" placeholder="kulanıcı adı" id="username">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Şifre</label>
                <input type="password" class="form-control" name="password" placeholder="şifre" id="password">
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
              </div>

              <input type="submit" value="Giriş Yap" class="btn btn-block btn-primary">
              <input type="button" value="Kayıt Ol" class="btn btn-block btn-primary">

            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="/zjs/jquery-3.3.1.min.js"></script>
    <script src="/zjs/popper.min.js"></script>
    <script src="/zjs/bootstrap.min.js"></script>
    <script src="/zjs/main.js"></script>
  </body>
</html>